<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title><%= title %></title>
</head>

<body>
  <nav navbar navbar-dark bg-dark>
    <a class="btn btn-sm btn-outline-secondary" href="/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>>Add
      FLIGHT</a>
    <a class="btn btn-sm btn-outline-secondary" href="/flights"
      <%- title === 'All Flights' ? 'class="active"' : '' %>>ALL FLIGHTS</a>
    <a href="/ticket/new" <%- title === 'Add Ticket' ? 'class="active"' : '' %>>
      ADD TICKET</a>
  </nav>
  <main>
    <h1><%= title %></h1>