<%- include('../partials/header') %>
<table id="list" class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Airline</th>
            <th scope="col">Airport</th>
            <th scope="col">Flight No</th>
            <th scope="col">Departs</th>
        </tr>
    </thead>
    <tbody>
        <% flights.forEach(function(f) { %>
        <tr>
            <td><%= f.airline %></td>
            <td><%= f.airport %></td>
            <td><%= f.flightNo %></td>
            <td><%= f.departs %></td>
            <td><a class="btn btn-info" href="/flights/<%= f._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>